<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="container">
        <p>Congrats on your very new pet, {{petName}}!</p>
        <p>You Paid ${{amount}} for them!</p>
        <p>Proud Pete's Pet Emporium thanks you!</p>
    </div>
</body>

</html>